{% block aboutMe %}
<section class="container-fluid my-5" style="min-height: 600px;" id="aboutMe"> 
  <h1 class='text-center mb-5'><strong>About Me</strong> </h1>
	<div class="container">
		<div class="row">
            <div class="col-md">
                <img class="rounded float-start img-thumbnail border border-5 border-primary" src="../../static/img/talarsen.jpg"  alt="placeholder image"/>
            
            </div>
            <div class="col-md row">
                <p class="text-right mt-5" style="font-size: 16pt;" >
                    Thank you for visiting my portfolio! 👋 Software engineering is super exciting because there are diverse opportunities, you are always learning, and there is a potential to make a positive impact on society. I am motivated by the challenges that coding presents and that motivation increases my commitment, curiosity and creativity in software engineering. 
                </p>
                <div class="container">
                    <h4 class="text-center mt-4 mb-4"><strong>Technologies</strong></h4>
                    <div class="row">
                        <div class="col-lg row justify-content-center align-items-center" >
                            <img class="mb-3" style="height: 100px; width: 125px;" src="../../static/img/html.png"  alt="html logo"/>
                            <img class="mb-3" style="height: 100px; width: 100px;" src="../../static/img/css.png"  alt="css logo"/>
                            <img class="mb-3" style="height: 100px; width: 115px;" src="../../static/img/javascript.png"  alt="javascript logo"/>
                            <img class=" mb-3" style="height: 100px; width: 125px;" src="../../static/img/react.png"  alt="react logo"/>
                            <img class="" style="height: 100px; width: 200px;" src="../../static/img/Flask-logo.png"  alt="Flask logo"/>
                            <img class="" style="height: 100px; width: 200px;" src="../../static/img/jinja-logo.png"  alt="Jinja logo"/>
                            <img class="" style="height: 100px; width: 200px;" src="../../static/img/node.png"  alt="Node logo"/>
                            <img class="" style="height: 100px; width: 100px;" src="../../static/img/jenkins.png"  alt="Jenkins logo"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div> 
</section>
{% endblock %}