

{% block aboutMe %}
<section class="container-fluid" id="aboutMe"> 
  <h1 class='text-center text-primary mb-5'> About Me </h1>
	<div class="container">
		<div class="row">
            <div class="col-sm">
                <img class="rounded float-start img-thumbnail border border-5 border-primary" src="../../static/img/logo.jpg"  alt="placeholder image"/>
            
            </div>
            <div class="col-sm">
                <p class="text-right" >
                    Write a Bit About Yourself Here
                </p>
            </div>
        </div>
	</div> 
</section>




{% endblock %}