{% block aboutMe %}
<section class="container-fluid my-5" style="min-height: 600px;" id="aboutMe"> 
  <h1 class='text-center mb-5'> About Me </h1>
	<div class="container">
		<div class="row">
            <div class="col-md">
                <img class="rounded float-start img-thumbnail border border-5 border-primary" src="../../static/img/logo.jpg"  alt="placeholder image"/>
            
            </div>
            <div class="col-md row">
                <div class="container">
                    <div class="row">
                        <div class="col-lg row justify-content-center align-items-center" >
                            <img class="" style="height: 100px; width: 100px;" src="../../static/img/python.png"  alt="Python logo"/>
                            <img class="" style="height: 100px; width: 200px;" src="../../static/img/Flask-logo.png"  alt="Flask logo"/>
                        </div>
                        <div class="col-lg row justify-content-center align-items-center" >
                            <img class="" style="height: 100px; width: 200px;" src="../../static/img/jinja-logo.png"  alt="Jinja logo"/>
                            <img class="" style="height: 100px; width: 100px;" src="../../static/img/bootstrap-logo.png"  alt="Bootstrap logo"/>
                        </div>
                    </div>
                </div>
                <p class="text-right mt-5" style="font-size: 16pt;" >
                    I'm an MLH Fellow for the Fall 2022, SRE batch. I am proficient in Python, Flask, Jinja, and Bootstrap.
                </p>
            </div>
        </div>
	</div> 
</section>
{% endblock %}