{% block aboutMe %}
<section class="container-fluid my-5" style="min-height: 700px;" id="aboutMe">
	<h1 class="text-center mt-5 mb-5">Education</h1>
	<div class="container">
		<div class="row">
			<div class="col-sm text-center">
				<img
					class="rounded img-thumbnail border border-5 border-primary"
					src="../../static/img/schoolLogo.png"
					alt="school logo"
				/>
			</div>
				<h4 class="text-center mt-4">SCHOOL NAME</h4>
        <h4 class="text-center">Degree/Major</h4>
		</div>
	</div>
</section>
{% endblock %}
