{% block hero %}
<section class="container-fluid mb-5" style="min-height: 550px;" id="hero">
	<div class="container">
		<div class="row d-flex justify-content-center align-items-center" >
			<div class="col-md" >
				<h5 class="text-left mt-4">THIS IS ME</h5>
				<h1 class="text-left fw-semibold" style="font-size: 45px;">FIRST LASTNAME</h1>
				<a href="#aboutme"> <button type="button" class="btn gradient btn-lg mt-3 fw-semibold " style="color: white;">Learn More</button></a>
			</div>
			<div class="col-md me-5">
				<img
					class="rounded float-end img-thumbnail border border-5 border-primary mt-3"
					src="../../static/img/logo.jpg"
					alt="placeholder image"
				/>
			</div>
		</div>
	</div>
</section>
{% endblock %}
