{% block hero %}
<section class="container-fluid mb-5" style="min-height: 550px;" id="hero">
	<div class="container">
		<div class="row d-flex justify-content-center align-items-center" >
			<div class=" text-dir-change col-md" >
				<h5 class="mt-4 text-small">THIS IS ME</h5>
				<h1 class="fw-semibold text-large">MASAYA FUNAKOSHI</h1>
				<a href="#aboutme"> 
                    <button type="button" class="btn gradient btn-lg mt-3 fw-semibold " style="color: var(--light_color); border-width: 0px;">
                        Learn More
                    </button>
                </a>
			</div>
			<div class="col-md">
				<img
					class="rounded float-end img-thumbnail mt-3"
                    style="border: none;"
					src="../../static/img/Masaya-Funakoshi-Arts Management.jpg"
					alt="placeholder image"
				/>
			</div>
		</div>
	</div>
</section>
{% endblock %}
