/* COLOR THEME VARIABLES - use "var(`name of variable`)" to access */
:root {
    --brand_color: #0EA5E9; 
    --dark_color: #0F172A;
    --mid_color: #CBD5E1;
    --light_color: #F8FAFC;
}


p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Arial", serif;
}


body {
    background-color: var(--light_color);
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Arial", serif;
    margin: 0px;
    color: var(--dark_color);
}

.gradient{
    background: -webkit-linear-gradient(left,#51c0f3 20%, #71b6df 40%, #948df8 80%);
}

.gradient-text{
    /* background-image: linear-gradient(
        85deg,
        hsl(216deg 98% 52%) 0%,
        hsl(210deg 100% 50%) 14%,
        hsl(207deg 100% 49%) 30%,
        hsl(203deg 100% 48%) 48%,
        hsl(201deg 89% 50%) 64%,
        hsl(212deg 87% 70%) 79%,
        hsl(221deg 85% 79%) 90%,
        hsl(232deg 82% 86%) 97%,
        hsl(245deg 78% 91%) 100%
    ); */
    background: -webkit-linear-gradient(left,#21b2f5 20%, #67baeb 40%, #948df7 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text:hover, .gradient:hover{
    background-size: 200% 200%;
    animation: gradient-animation 2s ease infinite;
}


/* GRADIENT TEXT ANIMATIONS */
@-webkit-keyframes gradient-animation {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}
@-moz-keyframes gradient-animation {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}
@keyframes gradient-animation {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}


.card-header{
    font-size: var(--fs-xl);
    text-align: center;
}

#googleMap {
    width: 100%;
    height: 40vh;
    border-radius: 3px;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 310px) {
    .text-dir-change{
        text-align: center;
    }
    .text-large{
        font-size: 40px;
    }
    .text-small{
        font-size: 20px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-dir-change{
        text-align: left;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .w-md-50{
        width: 50% !important;
    }
    .show-side-nav{
        display: none;
    }
    .show-nav-bar{
        display:block;
    }
    .text-large{
        font-size: 55px;
    }
    .text-small{
        font-size: 28px;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}