<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/styles/main.css" rel="stylesheet" />

    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"/>

    <title>{%block title %}{{title}}{% endblock %}</title>
</head>

<body>
<!-- extend the Footer to full width. -->
<div class="container my-5">
    <!-- Footer -->
    <footer class="text-center text-black" style="background-color: #ffffff">
      <!-- Grid container -->
      <div class="container">
        <!-- Grid column -->
        <!-- Section: Links -->
        <section class="mt-5">
          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-5">
            <!-- Grid column -->
            <div class="col-md-2">
              <h6  class="text-uppercase font-weight-bold">
                <a class="text-dark" style="text-decoration: none" href="https://twitter.com/talarsen_74" target="_blank" rel="noopener noreferrer">Twitter <i class="bi bi-twitter"></i></a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a class="text-dark"style="text-decoration: none"  href="https://www.linkedin.com/in/talarsen74/" target="_blank" rel="noopener noreferrer">Linkedin <i class="bi bi-linkedin"></i></a>
              </h6>
            </div>
            <!-- Grid column -->
  
            
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a class="text-dark"style="text-decoration: none;" href="https://github.com/talarsen" target="_blank" rel="noopener noreferrer">GITHUB <i class="bi bi-github"></i></a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a class="text-dark" style="text-decoration: none;">© 2022</a>
          </h6>
        </div>
          </div>
          <!-- Grid row-->
        </section>
        <!-- Section: Links -->
  
     <br>
        
  
        
        
      </div>
      <!-- Grid container -->
  
     
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->

</body>

</html>



