{% extends "pageOverlay.html" %}


{% block navbar %}
<div class="container-fluid">

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <!-- add dropdown -->
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/hobbies">Hobbies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/experience">Experience</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/location">Locations</a>
        </li>
    </ul>
</div>
{% endblock navbar%}