<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <title>{%block title %} {% endblock %} MLH Portfolio - Hobbies</title>
    
</head>
<body class="d-flex justify-content-center align-items-center p-10 container-fluid">
    <div class="justify-content-center align-items-center">
        <div class="pb-3">
            <h1>Hobbies</h1>
        </div>
        <div class="row">
            {% for hobby in hobbyData %}
            <div class="w-50 p-3">
                <div class="card mb-3 h-auto" >
                    <div class="row g-0">
                    <div class="col-md-5">
                        <img src={{hobby.imgSrc}} class="img-fluid rounded-start h-100 w-100" alt="Portrait Placeholder">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                        <h5 class="card-title">{{hobby.name}}</h5>
                        <p class="card-text">
                            {{hobby.description}}
                        </p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</body>
</html>
