{% extends "pageOverlay.html" %}

{% block content %}
    <body>
        <br/>
        <div class="container-fluid">
        <!-- Hero -->
        <div id="hero" >
            {% include 'landingPage/hero.html' %}           
        </div>
        <!-- About Me -->
        <div id="aboutme">
            {% include 'landingPage/aboutMe.html' %} 
        </div>
        <!-- Education -->
        <div id="education">
            {% include 'landingPage/education.html' %} 
        </div>

        <!--Optional Javascript-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    </body>
{% endblock content %}