{% extends "pageOverlay.html" %}
{% block content %}
<div class="map">
    <div class="card border-light mb-3">
        <div class="card-header">Countries I've Visited</div>
            <div class="card-body">
                <!-- Map Scripts -->
                <script>
                    let countries = [];
                </script>
                {% for place in locationData %}
                <script>
                    countries.push({
                    lat: "{{ place.lat }}",
                    long: "{{ place.long }}"
                    });
                    console.log(countries)
                </script>
                {% endfor %}
                <div id="googleMap"></div>
                <script src="../static/scripts/maps.js">
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=profileMap"></script>
            </div>
            <div class="card-footer text-muted">
                <!-- List all countries -->
                {% for places in locationData %}
                {% if loop.last%}
                <p class="card-text" style="display:inline">{{ places.country }} </p>
                {% else %}
                <p class="card-text" style="display:inline">{{ places.country }}, </p>
                {% endif %}
                {% endfor %}
                <br>
            </div>
        </div>
  </div>
</div>
{% endblock content %}
