<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <title>{%block title %} MLH Portfolio {% endblock %}</title>
</head>
<body>
    <!-- Header/Nav -->
    {% block content %}
    <!-- Fallback -->
    <h1>Not Working!</h1> 
    {% endblock content %}
    <!-- Footer -->
</body>

</html>