{% extends "pageOverlay.html" %} {% block content %}
<div class="p-10 container-fluid">
	<form id="form">
		<input name="name" type="text" />
		<input name="email" type="email" />
		<input name="content" type="text" />
		<button type="submit">Submit</button>
	</form>
<div>
		<h1 class="mt-5">All timeline Posts</h1>
		{% for post in timeline_posts %}
		<div class="post">
			<p>Id: {{post["id"]}}</p>
			<p>Name: {{post["name"]}}</p>
			<p>Email: {{post["email"]}}</p>
			<p>Content: {{post["content"]}}</p>
		</div>
		<br />
		{% endfor %}
	</div> 
	

	<script>
		(function () {
			const form = document.getElementById("form");
			form.addEventListener("submit", function (e) {
				// Prevent default behavior
				e.preventDefault();
				// Create payload as new FormData object
				const formData = new FormData(form)
				// Post the payload using Fetch
				fetch("http://localhost:5000/api/timeline_post", {
					headers: {
						"Access-Control-Allow-Origin": "*"
					},
					method: "POST",
					body: formData,
				})
					.then((res) => res.json())
					.then((data) => location.reload())
          .catch ((err) => console.log("I'm the error", err))
			});
		})();
	</script> 
</div>

{% endblock content %}
